body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container button {
  cursor: pointer;
  background-color: white;
  height: 150px;
  width: 150px;
  font-size: 100px;
  border: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  display: none;
  position: fixed;
  background-color: gray;
  border-radius: 5px;
  padding: 20px;
  z-index: 1001; /* Ensure popup is above overlay */
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score p {
  margin: 20px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure overlay is above other content */
}
